* {
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
}

p {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    background-color: slategray;
    width: 100%;
    height: 50px;
}

.navbar {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.navbar a {
    font-size: 22px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    align-content: center;
}

.navbar ul li {

}

.navbar ul li a {
    padding: 4px 32px;
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
}

.centre-piece {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.centre-piece-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/*.scroll-down-symbol {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
}*/

.me img {
    border-radius: 50%;
    max-width: 200px;
}

