---
const bgColor = "white";
---
<style define:vars={{bgColor}}>
    nav {
        background-color: var(--bgColor);
    }
</style>
<nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</nav>