<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<main>
  {% include header.html %}
  <div class="login-form">
    <h2 class="login-form-title">
      Login
    </h2>
    <form name="login" method="POST" data-netlify="true">
      <input type="text" id="username" name="username" class="login-form-input" placeholder="Username"><br>
      <input type="password" id="password" name="password" class="login-form-input" placeholder="Password"><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  {% include footer.html %}
</main>
{% include category-modal.html%}
</body>
</html>
