p, a {
    font-family: monospace;
    font-size: 16px;
    margin: 0 auto;
}

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

.App {
    width: 40%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 0 40px 0 40px;
    margin-bottom: 10px;
}

li {
    padding: 4px;
}


hr.dashed {
    position: relative;
    height: 20px;
    overflow: hidden;
    border: 0;
    margin: 0 0 20px 0;
}

hr.dashed::after {
    content: "------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
    position: absolute;
    width: 100%;
    word-wrap: break-word;
}

ul.dashed {
    margin-bottom: 20px;
    list-style-type: none;
}

ul.dashed > li {
    text-indent: 2px;
}

ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
}

.logo {
    flex-grow: 7;
    text-align: left;
}

a {
    border-bottom: black 2px solid;
}

a:hover {
    border-bottom: black 4px solid;
}

